<div class="">
	<div class="modal-header">
		<span class="f-mygreen">Add Website</span>
	</div>
	<div class="modal-content">
		<div class="row pl-20 pt-30">
			<span class="col-xs-3 txt-r">Url:</span>
			<span class="col-xs-5 txt-l">
				<input type="text" ng-model="websiteurl" style="width:100%;" autofocus>
			</span>
		</div>

		<div class="row pl-20">
			<span class="col-xs-3 txt-r">Feed Url:</span>
			<span class="col-xs-5 txt-l">
				<input type="text" ng-model="feedurl" style="width:100%;">
			</span>
		</div>

		<div class="row txt-c">
		<span class="btn f-white b-mygreen" ng-click="getFeedUrl()">
			Add
		</span>
		</div>
	</div>
	<div class="modal-footer">
	</div>
</div>